@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

@import 'variables';
@import 'global';
@import 'image';
@import 'container'; 
  
.card { 
    border-radius: 15px;
    width: 20vw;
    height: auto;
    margin: auto;  
    box-shadow:
    0 16px 0 50px hsla(0, 0%, 3%, 0.03),
    0 16px 0 20px hsla(0, 0%, 0%, 0.05);
    background-color: $card-bg;
}

.attribution {
    font-size: 11px; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}