@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #0d192b;
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.image-group {
  position: relative;
  width: 90%;
  margin: 5%;
  border-radius: 5%;
}

.image-group .equilibrium {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 5%;
}

.image-group .view {
  text-align: center;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.image-group:hover {
  cursor: pointer;
  background-color: #00fff7;
}

.image-group:hover .equilibrium {
  opacity: 0.5;
}

.image-group:hover .view {
  opacity: 1;
}

.container {
  padding: 0 20px;
}

.container .title,
.container p,
.container hr,
.container .group,
.container .avatar {
  margin-bottom: 20px;
}

.container .title a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.container .title a:hover {
  cursor: pointer;
  color: #00fff7;
}

.container p {
  color: #8bacda;
  font-weight: 400;
}

.container .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .group .ethereum,
.container .group .clock {
  display: inline-block;
  line-height: 1rem;
  font-size: 16px;
}

.container .group .ethereum {
  color: #00fff7;
}

.container .group .ethereum img {
  float: left;
  padding-right: 5px;
}

.container .group .clock {
  color: #8bacda;
}

.container .group .clock img {
  float: left;
  padding-right: 5px;
}

.container hr {
  color: linear_gradient();
}

.container .avatar {
  display: inline-block;
  line-height: 2rem;
  color: #8bacda;
  font-size: 0.9rem;
}

.container .avatar img {
  float: left;
  margin-right: 20px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid white;
}

.container .avatar a {
  text-decoration: none;
  color: white;
}

.container .avatar a:hover {
  color: #00fff7;
}

.card {
  border-radius: 15px;
  width: 20vw;
  height: auto;
  margin: auto;
  -webkit-box-shadow: 0 16px 0 50px rgba(8, 8, 8, 0.03), 0 16px 0 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0 16px 0 50px rgba(8, 8, 8, 0.03), 0 16px 0 20px rgba(0, 0, 0, 0.05);
  background-color: #14253d;
}

.attribution {
  font-size: 11px;
}

.attribution a {
  color: #3e52a3;
}
